body {
    font-family: forst;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;

}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */

@font-face {
    font-family: ubuntu;
    src: url(/TinDog-Start-master/Ubuntu/Ubuntu-Bold.ttf);
}

.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bolder;
}


/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h2 {
    font-family: sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}

h3 {
    font-family: sans-serif;
    font-weight: bolder;
}

p {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testemonial section */

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    height: 500px;
}

/* Pricing section */


#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center
}

@media (max-width: 994px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

.cta-heading {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}